@font-face {
  font-family: 'FuturaBT-Light';
  src: url('FuturaBT-Light.eot');
  src: url('FuturaBT-Light.woff2') format('woff2'),
       url('FuturaBT-Light.woff') format('woff'),
       url('FuturaBT-Light.ttf') format('truetype'),
       url('FuturaBT-Light.svg#FuturaBT-Light') format('svg'),
       url('FuturaBT-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

