@mixin respond-to($device) {
	
	@if ($device == "tablet") {
		@media only screen and (min-width: 768px) {
			@content;
		}
	}
	
	@else if ($device == "laptop") {
		@media only screen and (min-width: 1200px) {
			@content;
		}
	}
	
	@else if ($device == "desktop") {
		@media only screen and (min-width: 1440px) {
			@content;
		}
	}
}

@mixin link-border {
	display: inline-block;
	position: relative;
	border-bottom: 6px solid transparent;
	padding-bottom: 6px;
	transition: all 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	&:hover {
		border-color: #457FFA;
	}
}