@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";

// vars
$dark: #2d2d2c;
$link: #1F15F0;

// Import typography

@import "typog";

// Import mixins
@import "mixins";

// General selectors

*,
*:after,
*:before {
  @include box-sizing(border-box);
}

body, html {
	color: $dark;
	height: 100%;
	font: 14px/19px 'Futura-Book', sans-serif;
}

// Global

img { width: 100%; height: auto; }

a { color: $link; text-decoration: none;}

.page { position: relative; }

header {
	display: none;
	@include respond-to('desktop') {
		display: block;
		position: absolute;
		min-height: 142px;
		top: 0;
		left: 0;
		right: 0;
		z-index: 100;
		.title, nav { display: none; }
		
	}
}

.sticky-nav {
	header {
		@include respond-to('desktop') {
			background-color: rgba(255, 255, 255, 0.25);
			position: fixed;
			.burger-container {
				top: 60px;
				left: 88px;
				.burgle-the-ham {
					border-color: $dark;
					&:before {
						background: $dark;
					}
				}
			}
			.title {
				display: inline-block;
				position: absolute;
				font: 14px 'Fortescue-Regular';
				top: 62px;
				right: 90px;
			}
			nav {
				font-size: 36px;
				text-align: center;
				padding: 52px 0 0 0;
				li { display: inline-block; }
				a { color: $dark; }
			}
		}
	}
}

.burger-container {
	@include respond-to('desktop') {
		height: 22px;
		left: 82px;
		position: absolute; 
		top: 90px;
		width: 32px;
		z-index: 100;
	}
}


.burgle-the-ham { 
	cursor: pointer;
	height: 22px;
	width: 32px;
	z-index: 100;
	border: 2px solid #fff;
	border-style: solid none;
	&:before {
		background: #fff;
		content: '';
		display: block;
		height: 2px;
		left: 0;
		position: absolute;
		top: 10px;
		width: 32px;
	}
}

// Home

.home-hero {
	position: relative;
	.home-hero-media {
		height: 100vh;
		max-height: 100%;
		overflow: hidden;
		img {
			height: 100%;
			left: 0;
			object-fit: cover;
			top: 0;
			width: 100%;
		}
	}
	.home-hero-message {
		color: #fff;
		left: 0;
		text-align: center;
		top: 50%;
		width: 100%;
		position: absolute;
		transform: translateY(-50%);
		h1 {
			font: 60px/55px 'Fortescue-Regular';
			margin: 0 0 2px;
			letter-spacing: 1.6px;
			@include respond-to('tablet') {
				font-size: 76px;
				line-height: 76px;
				margin-bottom: 5px;
			}
			@include respond-to('desktop') {
				font-size: 95px;
				line-height: 1;
				letter-spacing: 2px;
				margin-bottom: 0;
			}
		}
		.tagline {
			font-size: 9px;
			line-height: 11px;
			letter-spacing: 1.38px;
			@include respond-to('tablet') {
				font-size: 12px;
				line-height: 15px;
				letter-spacing: 1.85px;
				@include respond-to('desktop') {
					font-size: 13px;
					line-height: 17px;
					letter-spacing: 2px;
				}
			}
		}
	}
	.down {
		border: solid #fff;
		border-width: 0 3px 3px 0;
		display: inline-block;
		width: 35px;
		height: 35px;
		transform: rotate(45deg);
		position: absolute;
		bottom: 53px;
		left: 50%;
		cursor: pointer;
	}
}

// Work
.work {
	background-color: #fdf8f2;
	min-height: 100vh;
	@include respond-to('desktop') {
		padding-top: 142px;
	}
}

//.work-top {
//	min-height: 142px;
//	text-align: center;
//	position: relative;
//	h2 {
//		font-size: 28px;
//		@include respond-to('tablet') {
//			font-size: 30px;
//		}
//		@include respond-to('desktop') {
//			line-height: 142px;
//			font-size: 36px;
//		}
//	}
//	.title {
//		position: absolute;
//		font: 18px 'Fortescue-Regular';
//		top: 0;
//		right: 0;
//	}
//}

.work-content {
	.work-heading {
		padding: 64px 0 0 0;
		h2 {
			font: 80px/82px 'Fortescue-Regular', sans-serif;
			margin: 0 0 60px;
			padding: 0 72px;
			position: relative;
		}
	}
}

.work-image-wrap {
	max-width: 791px;
	margin: 0 auto;
}

.read-more {
	display: inline-block;
	font: 14px/17px 'MaisonNeue-Mono', monospace;
	margin: 0 0 0 26px;
	position: relative;
	text-transform: uppercase;
	top: -6px;
}

.more {
	max-height: 0;
	overflow: hidden;
	transition: all 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
	font-size: 24px;
	line-height: 36px;
	margin: 0 auto;
	max-width: 1092px;
	padding-bottom: 0;
	@include respond-to('desktop') {
//		padding-bottom: 96px;
	}
	&.showing {
		max-height: 1000px;
		padding-bottom: 96px;
	}
}

// Footer
.home footer {
	background-color: $dark;
	color: #fff;
}