@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";

// General selectors

*,
*:after,
*:before {
  @include box-sizing(border-box);
}

// Home

.header-hero {
	position: relative;
}

.header-hero-media {
	height: 100vh;
	max-height: 100%;
	overflow: hidden;
	img {
		height: 100%;
		left: 0;
		object-fit: cover;
		top: 0;
		width: 100%;
	}
}

.header-hero-greeting {
	color: #fff;
	left: 0;
	text-align: center;
	top: 50%;
	width: 100%;
	position: absolute;
}