@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";

// vars
$dark: #2D2D2C;
$link: #1F15F0;
$fullnavBg: #FAEADA;

// Import typography

@import "typog";

// Import mixins
@import "mixins";

// General selectors

*,
*:after,
*:before {
  @include box-sizing(border-box);
}

body, html {
	color: $dark;
	font: 14px/19px 'Futura-Book', sans-serif;
	height: 100%;
}


img { width: 100%; height: auto; }

a { color: $link; text-decoration: none; }

h2 { 
	@include respond-to('desktop') {
		font-size: 36px; 
	}
}

// Global

.page { 
	position: relative; 
	.nav-overlay {
		bottom: 0;
		left: 0;
		opacity: 0;
		position: fixed;
		right: 0;
		top: 0;
		transition: all 250ms cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
		z-index: -1;
		background-color: $fullnavBg;
		a:link, a:visited {
			color: $dark;
			@include link-border;
		}
		&.active {
			opacity: 1;
			overflow: hidden;
			z-index: 1000;
		}
	}
}

header {
	display: none;
	@include respond-to('desktop') {
		left: 0;
		min-height: 142px;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 100;
		display: block;
		.title, nav { display: none; }
		
	}
}

.sticky-nav {
	header {
		@include respond-to('desktop') {
			background-color: rgba(255, 255, 255, 0.5);
			position: fixed;
			.burger-container {
				left: 88px;
				top: 60px;
				.burgle-the-ham {
					border-color: $dark;
					&:before {
						background: $dark;
					}
				}
			}
			.title {
				display: inline-block;
				font: 14px 'Fortescue-Regular';
				position: absolute;
				right: 90px;
				top: 62px;
			}
			nav {
				display: block;
				font-size: 36px;
				text-align: center;
				padding: 52px 0 0 0;
				li { display: inline-block; }
				a { color: $dark; }
			}
		}
	}
}

.burger-container {
	@include respond-to('desktop') {
		height: 22px;
		left: 82px;
		position: absolute; 
		top: 90px;
		width: 32px;
		z-index: 100;
	}
}


.burgle-the-ham { 
	cursor: pointer;
	height: 22px;
	width: 32px;
	z-index: 100;
	border: 2px solid #fff;
	border-style: solid none;
	&:before {
		background: #fff;
		content: '';
		display: block;
		height: 2px;
		left: 0;
		position: absolute;
		top: 10px;
		width: 32px;
	}
}

// Home

.home-hero {
	position: relative;
	.home-hero-media {
		height: 100vh;
		max-height: 100%;
		overflow: hidden;
		img {
			height: 100%;
			left: 0;
			object-fit: cover;
			top: 0;
			width: 100%;
		}
	}
	.home-hero-message {
		color: #fff;
		left: 0;
		text-align: center;
		top: 50%;
		width: 100%;
		position: absolute;
		transform: translateY(-50%);
		h1 {
			font: 60px/55px 'Fortescue-Regular';
			margin: 0 0 2px;
			letter-spacing: 1.6px;
			@include respond-to('tablet') {
				font-size: 76px;
				line-height: 76px;
				margin-bottom: 5px;
			}
			@include respond-to('desktop') {
				font-size: 95px;
				line-height: 1;
				letter-spacing: 2px;
				margin-bottom: 0;
			}
		}
		.tagline {
			font-size: 9px;
			line-height: 11px;
			letter-spacing: 1.38px;
			@include respond-to('tablet') {
				font-size: 12px;
				line-height: 15px;
				letter-spacing: 1.85px;
				@include respond-to('desktop') {
					font-size: 13px;
					line-height: 17px;
					letter-spacing: 2px;
				}
			}
		}
	}
	.down {
		border: solid #fff;
		border-width: 0 3px 3px 0;
		display: inline-block;
		width: 35px;
		height: 35px;
		transform: rotate(45deg);
		position: absolute;
		bottom: 53px;
		left: 50%;
		cursor: pointer;
	}
}

// Work
.work {
	background-color: #fdf8f2;
	min-height: 100vh;
	@include respond-to('desktop') {
		padding-top: 142px;
	}
}

.work-content {
	.work-heading {
		padding: 64px 0 0 0;
		h2 {
			font: 80px/82px 'Fortescue-Regular', sans-serif;
			margin: 0 0 60px;
			padding: 0 72px;
			position: relative;
		}
	}
}

.work-image-wrap {
	max-width: 791px;
	margin: 0 auto;
}

.read-more {
	display: inline-block;
	font: 14px/17px 'MaisonNeue-Mono', monospace;
	margin: 0 0 0 26px;
	position: relative;
	text-transform: uppercase;
	top: -6px;
}

.more {
	max-height: 0;
	overflow: hidden;
	transition: all 300ms cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
	font-size: 24px;
	line-height: 36px;
	margin: 0 auto;
	max-width: 1092px;
	padding-bottom: 0;
	&.showing {
		max-height: 1000px;
		padding-bottom: 96px;
	}
}

// Footer
.home footer {
	background-color: $dark;
	color: #fff;
	@include respond-to('desktop') {
		.footer-link-msg-wrap {
			display: flex;
			align-items: center;
			> * {
				flex: 1;
			}
			.footer-msg {
				text-indent: 86px
			}
		}
	}
	.footer-client-links {
		font: 14px/32px 'MaisonNeue-Mono';
		letter-spacing: 2px;
		text-transform: uppercase;
		padding: 62px 0 0 0;
		span, ul {
			float: left;
		}
		ul {
			margin: 0 0 0 42px;
		}
		a:link, a:visited {
			color: #fff;
			@include link-border;
		}
	}
}