@font-face {
	font-family: 'Fortescue-Regular';
	src: url('../fonts/fortescue-regular/Fortescue-Regular.eot');
	src: url('../fonts/fortescue-regular/Fortescue-Regular.woff2') format('woff2'),
		url('../fonts/fortescue-regular/Fortescue-Regular.woff') format('woff'),
		url('../fonts/fortescue-regular/Fortescue-Regular.ttf') format('truetype'),
		url('../fonts/fortescue-regular/Fortescue-Regular.svg#Fortescue-Regular') format('svg'),
		url('../fonts/fortescue-regular/Fortescue-Regular.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Futura-Book';
	src: url('../fonts/futura-book/FuturaBT-Book.eot');
	src: url('../fonts/futura-book/FuturaBT-Book.woff2') format('woff2'),
		url('../fonts/futura-book/FuturaBT-Book.woff') format('woff'),
		url('../fonts/futura-book/FuturaBT-Book.ttf') format('truetype'),
		url('../fonts/futura-book/FuturaBT-Book.svg#FuturaBT-Book') format('svg'),
		url('../fonts/futura-book/FuturaBT-Book.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FuturaLight';
	src: url('../fonts/futura-light/FuturaLight.eot');
	src: url('../fonts/futura-light/FuturaLight.woff2') format('woff2'),
		url('../fonts/futura-light/FuturaLight.woff') format('woff'),
		url('../fonts/futura-light/FuturaLight.ttf') format('truetype'),
		url('../fonts/futura-light/FuturaLight.svg#FuturaLight') format('svg'),
		url('../fonts/futura-light/FuturaLight.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'MaisonNeue-Mono';
	src: url('../fonts/maison-neue/MaisonNeueTRIAL-Mono.eot');
	src: url('../fonts/maison-neue/MaisonNeueTRIAL-Mono.woff2') format('woff2'),
		url('../fonts/maison-neue/MaisonNeueTRIAL-Mono.woff') format('woff'),
		url('../fonts/maison-neue/MaisonNeueTRIAL-Mono.ttf') format('truetype'),
		url('../fonts/maison-neue/MaisonNeueTRIAL-Mono.svg#MaisonNeueTRIAL-Mono') format('svg'),
		url('../fonts/maison-neue/MaisonNeueTRIAL-Mono.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

