html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

@font-face { font-family: 'Fortescue-Regular'; src: url("../fonts/fortescue-regular/Fortescue-Regular.eot"); src: url("../fonts/fortescue-regular/Fortescue-Regular.woff2") format("woff2"), url("../fonts/fortescue-regular/Fortescue-Regular.woff") format("woff"), url("../fonts/fortescue-regular/Fortescue-Regular.ttf") format("truetype"), url("../fonts/fortescue-regular/Fortescue-Regular.svg#Fortescue-Regular") format("svg"), url("../fonts/fortescue-regular/Fortescue-Regular.eot?#iefix") format("embedded-opentype"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Futura-Book'; src: url("../fonts/futura-book/FuturaBT-Book.eot"); src: url("../fonts/futura-book/FuturaBT-Book.woff2") format("woff2"), url("../fonts/futura-book/FuturaBT-Book.woff") format("woff"), url("../fonts/futura-book/FuturaBT-Book.ttf") format("truetype"), url("../fonts/futura-book/FuturaBT-Book.svg#FuturaBT-Book") format("svg"), url("../fonts/futura-book/FuturaBT-Book.eot?#iefix") format("embedded-opentype"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'MaisonNeue-Mono'; src: url("../fonts/maison-neue/MaisonNeueTRIAL-Mono.eot"); src: url("../fonts/maison-neue/MaisonNeueTRIAL-Mono.woff2") format("woff2"), url("../fonts/maison-neue/MaisonNeueTRIAL-Mono.woff") format("woff"), url("../fonts/maison-neue/MaisonNeueTRIAL-Mono.ttf") format("truetype"), url("../fonts/maison-neue/MaisonNeueTRIAL-Mono.svg#MaisonNeueTRIAL-Mono") format("svg"), url("../fonts/maison-neue/MaisonNeueTRIAL-Mono.eot?#iefix") format("embedded-opentype"); font-weight: normal; font-style: normal; }
*, *:after, *:before { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body, html { color: #2d2d2c; height: 100%; font: 14px/19px 'Futura-Book', sans-serif; }

img { width: 100%; height: auto; }

a { color: #1F15F0; text-decoration: none; }

.page { position: relative; }

.burger-container { height: 22px; left: 82px; position: absolute; top: 91px; width: 32px; z-index: 100; }

.burgle-the-ham { cursor: pointer; height: 22px; width: 32px; z-index: 100; border: 2px solid #fff; border-style: solid none; }
.burgle-the-ham:before { background: #fff; content: ''; display: block; height: 2px; left: 0; position: absolute; top: 10px; width: 32px; }

.home-hero { position: relative; }
.home-hero .home-hero-media { height: 100vh; max-height: 100%; overflow: hidden; }
.home-hero .home-hero-media img { height: 100%; left: 0; object-fit: cover; top: 0; width: 100%; }
.home-hero .home-hero-message { color: #fff; left: 0; text-align: center; top: 50%; width: 100%; position: absolute; }
.home-hero .home-hero-message h1 { font: 60px/55px 'Fortescue-Regular'; letter-spacing: 1.6px; }

.work { background-color: #fdf8f2; min-height: 100vh; }

.work-top { min-height: 142px; text-align: center; }

.work-content .work-heading { padding: 64px 0 0 0; }
.work-content .work-heading h2 { font: 80px/82px 'Fortescue-Regular', sans-serif; margin: 0 0 60px; padding: 0 72px; position: relative; }

.work-image-wrap { max-width: 791px; margin: 0 auto; }

.read-more { display: inline-block; font: 14px/17px 'MaisonNeue-Mono', monospace; margin: 0 0 0 26px; position: relative; text-transform: uppercase; top: -6px; }

.more { font-size: 24px; line-height: 36px; margin: 0 auto; max-width: 1092px; }

footer { background-color: #2d2d2c; color: #fff; }
