html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

*, *:after, *:before { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body, html { height: 100%; }

img { width: 100%; height: auto; }

.page { position: relative; }

.burger-container { height: 22px; left: 82px; position: absolute; top: 91px; width: 32px; z-index: 100; }

.burgle-the-ham { cursor: pointer; height: 22px; width: 32px; z-index: 100; border: 2px solid #fff; border-style: solid none; }
.burgle-the-ham:before { background: #fff; content: ''; display: block; height: 2px; left: 0; position: absolute; top: 10px; width: 32px; }

.home-hero { position: relative; }
.home-hero .home-hero-media { height: 100vh; max-height: 100%; overflow: hidden; }
.home-hero .home-hero-media img { height: 100%; left: 0; object-fit: cover; top: 0; width: 100%; }
.home-hero .home-hero-message { color: #fff; left: 0; text-align: center; top: 50%; width: 100%; position: absolute; }

.work { background-color: #fdf8f2; min-height: 100vh; }

.work-header { min-height: 142px; text-align: center; }

.work-content { max-width: 791px; margin: 0 auto; }

footer { background-color: #2d2d2c; color: #fff; }
