html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

@font-face { font-family: 'Fortescue-Regular'; src: url("../fonts/fortescue-regular/Fortescue-Regular.eot"); src: url("../fonts/fortescue-regular/Fortescue-Regular.woff2") format("woff2"), url("../fonts/fortescue-regular/Fortescue-Regular.woff") format("woff"), url("../fonts/fortescue-regular/Fortescue-Regular.ttf") format("truetype"), url("../fonts/fortescue-regular/Fortescue-Regular.svg#Fortescue-Regular") format("svg"), url("../fonts/fortescue-regular/Fortescue-Regular.eot?#iefix") format("embedded-opentype"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Futura-Book'; src: url("../fonts/futura-book/FuturaBT-Book.eot"); src: url("../fonts/futura-book/FuturaBT-Book.woff2") format("woff2"), url("../fonts/futura-book/FuturaBT-Book.woff") format("woff"), url("../fonts/futura-book/FuturaBT-Book.ttf") format("truetype"), url("../fonts/futura-book/FuturaBT-Book.svg#FuturaBT-Book") format("svg"), url("../fonts/futura-book/FuturaBT-Book.eot?#iefix") format("embedded-opentype"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'MaisonNeue-Mono'; src: url("../fonts/maison-neue/MaisonNeueTRIAL-Mono.eot"); src: url("../fonts/maison-neue/MaisonNeueTRIAL-Mono.woff2") format("woff2"), url("../fonts/maison-neue/MaisonNeueTRIAL-Mono.woff") format("woff"), url("../fonts/maison-neue/MaisonNeueTRIAL-Mono.ttf") format("truetype"), url("../fonts/maison-neue/MaisonNeueTRIAL-Mono.svg#MaisonNeueTRIAL-Mono") format("svg"), url("../fonts/maison-neue/MaisonNeueTRIAL-Mono.eot?#iefix") format("embedded-opentype"); font-weight: normal; font-style: normal; }
*, *:after, *:before { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body, html { color: #2D2D2C; font: 14px/19px 'Futura-Book', sans-serif; height: 100%; }

img { width: 100%; height: auto; }

a { color: #1F15F0; text-decoration: none; }

@media only screen and (min-width: 1200px) { h2 { font-size: 36px; } }

.why-scroll { overflow-y: hidden; }

.page > header { position: fixed; top: 0; right: 0; left: 0; min-height: 62px; z-index: 100; }
.page > header .burger-container { z-index: 100; width: 20px; height: 14px; position: absolute; left: 26px; top: 26px; }
@media only screen and (min-width: 768px) { .page > header .burger-container { height: 18px; left: 50px; top: 52px; width: 26px; } }
@media only screen and (min-width: 1200px) { .page > header .burger-container { height: 22px; left: 82px; top: 90px; width: 32px; } }
.page > header .burgle-the-ham { border: 2px solid #fff; border-style: solid none; cursor: pointer; height: 14px; width: 20px; z-index: 100; }
.page > header .burgle-the-ham:before { background: #fff; content: ''; display: block; height: 2px; left: 0; position: absolute; top: 6px; width: 20px; }
@media only screen and (min-width: 768px) { .page > header .burgle-the-ham { width: 26px; height: 18px; }
  .page > header .burgle-the-ham:before { width: 26px; top: 8px; } }
@media only screen and (min-width: 1200px) { .page > header .burgle-the-ham { width: 32px; height: 22px; }
  .page > header .burgle-the-ham:before { top: 10px; width: 32px; } }
.page > header nav, .page > header .title { display: none; }
.page > header.alt .burgle-the-ham { border-color: #2D2D2C; }
.page > header.alt .burgle-the-ham:before { background: #2D2D2C; }
.page > header.alt .title { display: inline-block; font-family: 'Fortescue-Regular'; font-size: 12px; position: absolute; top: 22px; right: 28px; letter-spacing: 2px; }
@media only screen and (min-width: 768px) { .page > header.alt .title { top: 50px; right: 38px; } }
@media only screen and (min-width: 1200px) { .page > header.alt .title { font-size: 14px; right: 90px; top: 62px; } }
@media only screen and (min-width: 1200px) { .page > header.alt .burger-container { top: 60px; left: 90px; } }
@media only screen and (min-width: 768px) { .page > header { min-height: 124px; } }
@media only screen and (min-width: 1200px) { .page > header { min-height: 140px; } }

.page-template-about .page > header .title, .page-template-contact .page > header .title { display: inline-block; font-family: 'Fortescue-Regular'; font-size: 12px; position: absolute; top: 22px; right: 28px; letter-spacing: 2px; }
@media only screen and (min-width: 768px) { .page-template-about .page > header .title, .page-template-contact .page > header .title { right: 46px; top: 52px; } }
@media only screen and (min-width: 1200px) { .page-template-about .page > header .title, .page-template-contact .page > header .title { font-size: 14px; line-height: 18px; top: 64px; right: 90px; } }
@media only screen and (min-width: 1200px) { .page-template-about .page > header .burger-container, .page-template-contact .page > header .burger-container { left: 90px; top: 60px; } }

.page { position: relative; }
.page .nav-overlay { bottom: 0; left: 0; opacity: 0; position: fixed; right: 0; top: 0; transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1); /* ease-in-out */ z-index: -1; background-color: #FAEADA; }
.page .nav-overlay .close { text-indent: -119988px; overflow: hidden; text-align: left; text-transform: capitalize; background-size: 25px 25px; background: transparent url("../img/close.png") 0 0 no-repeat; cursor: pointer; display: inline-block; height: 25px; position: absolute; right: 28px; top: 32px; width: 25px; }
.page .nav-overlay a:link, .page .nav-overlay a:visited { color: #2D2D2C; display: inline-block; position: relative; }
.page .nav-overlay a:link:before, .page .nav-overlay a:visited:before { content: ''; display: inline-block; width: 0; background-color: #FFFF00; position: absolute; height: 6px; top: 50%; left: 0; z-index: 10; transform: translateY(-50%); transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1); }
.page .nav-overlay a:link:hover:before, .page .nav-overlay a:visited:hover:before { width: 100%; }
.page .nav-overlay.active { opacity: 1; overflow: hidden; z-index: 1000; }
.page .nav-overlay .nav-overlay-content { display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; align-items: center; justify-content: center; height: 100%; }
.page .nav-overlay nav li { font-size: 28px; line-height: 54px; text-align: center; }
@media only screen and (min-width: 1200px) { .page .nav-overlay nav li { font-size: 36px; display: inline-block; margin-right: 40px; }
  .page .nav-overlay nav li:last-child { margin-right: 0; } }

.home-hero { position: relative; }
.home-hero .home-hero-media { height: 100vh; max-height: 100%; overflow: hidden; }
.home-hero .home-hero-media img { height: 100%; left: 0; object-fit: cover; top: 0; width: 100%; }
.home-hero .home-hero-message { color: #fff; left: 0; text-align: center; top: 50%; width: 100%; position: absolute; transform: translateY(-50%); }
.home-hero .home-hero-message h1 { font: 60px/55px 'Fortescue-Regular'; margin: 0 0 2px; letter-spacing: 1.6px; }
@media only screen and (min-width: 768px) { .home-hero .home-hero-message h1 { font-size: 76px; line-height: 76px; margin-bottom: 5px; } }
@media only screen and (min-width: 1200px) { .home-hero .home-hero-message h1 { font-size: 95px; line-height: 1; letter-spacing: 2px; margin-bottom: 0; } }
.home-hero .home-hero-message .tagline { font-size: 9px; line-height: 11px; letter-spacing: 1.38px; }
@media only screen and (min-width: 768px) { .home-hero .home-hero-message .tagline { font-size: 12px; line-height: 15px; letter-spacing: 1.85px; } }
@media only screen and (min-width: 1200px) { .home-hero .home-hero-message .tagline { font-size: 13px; line-height: 17px; letter-spacing: 2px; } }
.home-hero .down { border: solid #fff; display: inline-block; transform: rotate(45deg); position: absolute; cursor: pointer; border-width: 0 1px 1px 0; width: 24px; height: 24px; bottom: 66px; left: 50%; }
@media only screen and (min-width: 768px) { .home-hero .down { border-width: 0 2px 2px 0; width: 30px; height: 30px; } }
@media only screen and (min-width: 1200px) { .home-hero .down { border-width: 0 3px 3px 0; width: 35px; height: 35px; bottom: 53px; } }

.work { background-color: #fdf8f2; min-height: 100vh; padding-top: 108px; }
@media only screen and (min-width: 768px) { .work { padding-top: 136px; } }
@media only screen and (min-width: 1200px) { .work { padding-top: 142px; } }

.work-content .work-heading { padding-top: 32px; }
@media only screen and (min-width: 768px) { .work-content .work-heading { padding: 16px 0 0 0; } }
@media only screen and (min-width: 1200px) { .work-content .work-heading { padding: 64px 0 0 0; } }
.work-content .work-heading h2 { font-family: 'Fortescue-Regular', sans-serif; position: relative; font-size: 28px; line-height: 33px; margin-bottom: 26px; padding: 0 18px; }
@media only screen and (min-width: 768px) { .work-content .work-heading h2 { font-size: 48px; line-height: 51px; padding: 0 28px 0 55px; margin-bottom: 28px; } }
@media only screen and (min-width: 1200px) { .work-content .work-heading h2 { font-size: 80px; line-height: 82px; margin: 0 0 60px; padding: 0 72px; } }

.work-image-wrap { margin: 0 auto; padding: 0 27px; }
@media only screen and (min-width: 768px) { .work-image-wrap { padding: 0; max-width: 506px; } }
@media only screen and (min-width: 1200px) { .work-image-wrap { max-width: 791px; padding: 0; } }

.read-more { display: inline-block; font-family: 'MaisonNeue-Mono', monospace; position: relative; text-transform: uppercase; font-size: 9px; line-height: 11px; margin: 0 0 0 9px; top: 1px; }
@media only screen and (min-width: 768px) { .read-more { font-size: 10px; line-height: 12px; top: -1px; margin: 0 0 0 9px; } }
@media only screen and (min-width: 1200px) { .read-more { margin: 0 0 0 26px; top: -6px; font-size: 14px; line-height: 17px; } }

.more { max-height: 0; overflow: hidden; transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1); /* ease-in-out */ margin: 0 auto; padding-bottom: 0; font-size: 16px; line-height: 24px; padding-left: 27px; padding-right: 27px; }
.more.showing { max-height: 1000px; padding-bottom: 56px; }
@media only screen and (min-width: 768px) { .more { font-size: 18px; line-height: 28px; padding-right: 0; padding-left: 0; max-width: 612px; } }
@media only screen and (min-width: 1200px) { .more { font-size: 24px; line-height: 36px; max-width: 1058px; padding-left: 0; padding-right: 0; }
  .more.showing { padding-bottom: 96px; } }

.home footer { background-color: #2D2D2C; color: #fff; padding-top: 40px; padding-bottom: 16px; text-align: left; }
.home footer .footer-client-links { font-size: 12px; font-family: 'MaisonNeue-Mono', monospace; text-transform: uppercase; letter-spacing: 1.71px; }
.home footer .footer-client-links span { display: block; text-align: center; margin-bottom: 22px; }
.home footer .footer-client-links a:link, .home footer .footer-client-links a:visited { color: #fff; }
.home footer .footer-client-links li { line-height: 28px; padding: 0 28px 0 28px; }
.home footer .footer-link-msg-wrap h2 { font-size: 28px; line-height: 30px; padding: 68px 0 72px 28px; }
.home footer .sosumi .title-wrap { display: none; }
.home footer .sosumi .social { text-align: center; margin-bottom: 20px; }
.home footer .sosumi .social li { display: inline-block; }
.home footer .sosumi .social li:nth-child(2) { margin-left: 16px; margin-right: 16px; }
.home footer .sosumi .social a:link, .home footer .sosumi .social a:visited { color: #fff; font-size: 16px; }
.home footer .sosumi .copyright { font-size: 9px; text-align: center; }
@media only screen and (min-width: 768px) { .home footer { padding: 0 0 34px; }
  .home footer .footer-link-msg-wrap { display: flex; align-items: center; }
  .home footer .footer-client-links { flex: 1; order: 2; position: relative; padding: 66px 0 0 0; }
  .home footer .footer-client-links span { position: absolute; top: 70px; left: -178px; }
  .home footer .footer-client-links li { padding: 0 18px; }
  .home footer .footer-msg { flex: 1; order: 1; }
  .home footer .footer-msg h2 { padding: 0 0 0 50px; font-size: 30px; line-height: 36px; }
  .home footer .sosumi { display: flex; padding: 68px 0 0 0; }
  .home footer .sosumi .copyright, .home footer .sosumi .title-wrap, .home footer .sosumi .social { display: block; flex: 1; }
  .home footer .sosumi .copyright { order: 1; text-indent: 50px; position: relative; top: 3px; }
  .home footer .sosumi .title-wrap { text-align: right; order: 3; }
  .home footer .sosumi .social { order: 2; margin-bottom: 0; text-align: center; }
  .home footer .sosumi .social ul { margin-left: 24px; }
  .home footer .sosumi .title { font: 12px 'Fortescue-Regular'; letter-spacing: 2px; padding-right: 50px; } }
@media only screen and (min-width: 1200px) { .home footer { padding: 0 0 32px 0; }
  .home footer .footer-link-msg-wrap { display: flex; align-items: center; }
  .home footer .footer-link-msg-wrap > * { flex: 1; }
  .home footer .footer-link-msg-wrap .footer-msg { text-indent: 86px; order: 1; }
  .home footer .footer-link-msg-wrap .footer-msg h2 { padding: 0; font-size: 36px; }
  .home footer .sosumi { display: flex; padding: 105px 0 0 0; }
  .home footer .sosumi .copyright, .home footer .sosumi .title-wrap { display: block; flex: 1; }
  .home footer .sosumi .copyright { order: 1; }
  .home footer .sosumi .title-wrap { text-align: right; order: 3; }
  .home footer .sosumi .social { flex: 2; order: 2; }
  .home footer .sosumi .social { text-align: center; }
  .home footer .sosumi .social li { display: inline-block; }
  .home footer .sosumi .social li a:link, .home footer .sosumi .social li a:visited { font-size: 20px; color: #fff; display: inline-block; position: relative; }
  .home footer .sosumi .social li a:link:before, .home footer .sosumi .social li a:visited:before { content: ''; display: inline-block; width: 0; background-color: #FFFF00; position: absolute; height: 6px; top: 50%; left: 0; z-index: 10; transform: translateY(-50%); transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1); }
  .home footer .sosumi .social li a:link:hover:before, .home footer .sosumi .social li a:visited:hover:before { width: 100%; }
  .home footer .sosumi .social ul li:nth-child(2) { margin: 0 28px; }
  .home footer .sosumi .title { margin-right: 90px; display: inline-block; font: 14px 'Fortescue-Regular'; }
  .home footer .sosumi .copyright { font-size: 9px; text-indent: 86px; }
  .home footer .footer-client-links { font-size: 14px; line-height: 32px; letter-spacing: 2px; padding: 62px 0 0 0; order: 2; }
  .home footer .footer-client-links span, .home footer .footer-client-links ul { float: left; }
  .home footer .footer-client-links li { line-height: 32px; padding: 0; }
  .home footer .footer-client-links span { margin: 0 42px 0 1em; position: static; }
  .home footer .footer-client-links a:link, .home footer .footer-client-links a:visited { display: inline-block; position: relative; }
  .home footer .footer-client-links a:link:before, .home footer .footer-client-links a:visited:before { content: ''; display: inline-block; width: 0; background-color: #FFFF00; position: absolute; height: 6px; top: 50%; left: 0; z-index: 10; transform: translateY(-50%); transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1); }
  .home footer .footer-client-links a:link:hover:before, .home footer .footer-client-links a:visited:hover:before { width: 100%; } }
@media only screen and (min-width: 1440px) { .home footer .footer-client-links span { margin-left: 0; } }

.page-template-about { background-color: #2D2D2C; color: #fff; }
.page-template-about h2 { font-size: 24px; text-align: center; margin-bottom: 35px; }
.page-template-about .about-content { padding: 82px 26px 0; }
.page-template-about .preamble { font-size: 18px; line-height: 26px; margin-bottom: 28px; }
.page-template-about .skills { font-family: 'MaisonNeue-Mono' monospace; font-size: 9px; text-transform: uppercase; letter-spacing: 1.29px; padding-right: 36px; margin-bottom: 88px; }
.page-template-about .past-clients, .page-template-about .accolades { margin-bottom: 92px; }
.page-template-about .past-clients p, .page-template-about .accolades p { font-family: 'Fortescue-Regular'; font-size: 28px; line-height: 33px; letter-spacing: 0.2px; }
@media only screen and (min-width: 768px) { .page-template-about h2 { font-size: 30px; line-height: 35px; }
  .page-template-about .about-content { padding: 150px 50px 0; }
  .page-template-about .preamble { font-size: 24px; line-height: 30px; }
  .page-template-about .skills { font-size: 10px; line-height: 22px; letter-spacing: 1.43px; padding-right: 100px; }
  .page-template-about .past-clients, .page-template-about .accolades { margin-bottom: 128px; }
  .page-template-about .past-clients p, .page-template-about .accolades p { font-size: 48px; line-height: 56px; letter-spacing: 0.2px; } }
@media only screen and (min-width: 1200px) { .page-template-about h2 { font-size: 36px; line-height: 43px; margin-bottom: 45px; }
  .page-template-about .about-content { padding: 206px 90px 0; }
  .page-template-about .skills { padding-right: 400px; margin-bottom: 132px; }
  .page-template-about .preamble { font-size: 36px; line-height: 44px; margin-bottom: 33px; }
  .page-template-about .skills { font-size: 14px; letter-spacing: 2px; line-height: 31px; }
  .page-template-about .past-clients p, .page-template-about .accolades p { font-size: 60px; letter-spacing: 0.2px; line-height: 70px; } }

.page-template-contact { background-color: #FAEADA; }
.page-template-contact .page > header .burgle-the-ham { border-color: #2D2D2C; }
.page-template-contact .page > header .burgle-the-ham:before { background: #2D2D2C; }
.page-template-contact .footer-row nav, .page-template-contact .footer-row .title-wrap { display: none; }
.page-template-contact .footer-row .copyright { text-align: center; text-indent: 0; }
.page-template-contact .contact-content { text-align: center; padding: 146px 0 0 0; min-height: 95vh; }
.page-template-contact .contact-content h2 { font-size: 9px; letter-spacing: 1.29px; font-family: 'MaisonNeue-Mono'; text-transform: uppercase; margin-bottom: 18px; }
.page-template-contact .contact-content a[href^=mailto] { font-size: 20px; }
.page-template-contact .contact-content nav { line-height: 30px; margin-bottom: 98px; }
.page-template-contact .contact-content nav a:link, .page-template-contact .contact-content nav a:visited { display: block; font-size: 28px; color: #2D2D2C; margin-bottom: 24px; }
.page-template-contact .contact-content .connect { padding: 70px 0 0 0; }

footer { padding-bottom: 18px; text-align: center; }
footer nav { margin-bottom: 22px; }
footer nav a { display: inline-block; }
footer nav a:nth-child(2) { margin-right: 18px; margin-left: 18px; }
footer nav a:link, footer nav a:visited { color: #fff; font-size: 16px; line-height: 18px; }
footer .copyright { font-size: 9px; line-height: 14px; }
footer .title-wrap { display: none; }
@media only screen and (min-width: 768px) { footer { padding-bottom: 22px; }
  footer .footer-row { display: flex; padding-top: 70px; }
  footer .footer-row nav, footer .footer-row .copyright, footer .footer-row .title-wrap { flex: 1; padding: 0; margin: 0; }
  footer .footer-row nav { order: 2; }
  footer .footer-row nav a:first-child { margin-left: 20px; }
  footer .footer-row .copyright { order: 1; text-align: left; text-indent: 50px; padding-top: 4px; }
  footer .footer-row .title-wrap { display: block; order: 3; text-align: right; }
  footer .footer-row .title-wrap .title { font-family: 'Fortescue-Regular'; font-size: 12px; line-height: 16px; letter-spacing: 2px; padding-right: 50px; } }
@media only screen and (min-width: 1200px) { footer { padding-bottom: 38px; }
  footer .footer-row { padding-top: 134px; }
  footer .footer-row nav { flex: 2; }
  footer .footer-row nav a { font-size: 20px; line-height: 23px; }
  footer .footer-row nav a:first-child { margin-left: 0; }
  footer .footer-row nav a:nth-child(2) { margin-right: 26px; margin-left: 26px; }
  footer .footer-row nav a:link, footer .footer-row nav a:visited { display: inline-block; position: relative; }
  footer .footer-row nav a:link:before, footer .footer-row nav a:visited:before { content: ''; display: inline-block; width: 0; background-color: #FFFF00; position: absolute; height: 6px; top: 50%; left: 0; z-index: 10; transform: translateY(-50%); transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1); }
  footer .footer-row nav a:link:hover:before, footer .footer-row nav a:visited:hover:before { width: 100%; }
  footer .footer-row .copyright { position: relative; top: 5px; text-indent: 90px; }
  footer .footer-row .title-wrap { position: relative; top: 2px; }
  footer .footer-row .title-wrap .title { font-size: 14px; line-height: 18px; padding-right: 90px; } }
